{% extends "public_template.html" %}

{% block content %}

<h1>Add New User</h1>
<form action="/add_user" method="POST">

    {% if error_summary %}
    <p class="text-danger">{{ error_summary }}</p>
    {% endif %}

    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" id="first-name" name="first-name">
    </div>
        
    <div class="form-group">
        <label>Age</label>
        <input type="text" class="form-control" id="age" name="age">
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
    
</form>  

{% endblock %}